body{
  background-color: #000a;
  height: 630px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator{
  background:#080c10;
  border: 1px solid black;
  width: fit-content;
  padding: 25px 10px 10px 10px;
}
.display{
  cursor: grab;
  font-size : 50px ;
  width: 250px;
  padding: 15px;
  overflow: hidden;
  background-color: white;
}
.display:active{
  cursor: grabbing;
}
button{
  margin-top: 10px;
  background: #243756;
  color:#fff;
  width: 23.9%;
  font-size: 40px;
  padding: 10px;
}
.buttonBox{
  margin-top: 10px;
}
